.head
  .head_title
    = link_to root_path, class: "icon2" do
      KASUGA*PORTFOLIO


.foot
  .foot_content
    = link_to "https://twitter.com/ksksw13", class: "icon" do
      %i.fab.fa-twitter-square
    = link_to "https://github.com/kasugatakuya", class: "icon" do
      %i.fab.fa-github-square